# pip install -r requirements.txt
# Data processing and numerical computation
pandas==2.2.3
numpy==1.23.1 # in the 1.26.3 np.bool is depreciated

# Visualization
matplotlib>=3.4.0

# Accelerated Python computations
numba>=0.55.0

# Machine learning
scikit-learn>=0.24.0

torchensemble

# https://medium.com/@erensahin/how-to-install-lightgbm-on-apple-m1-processors-in-2023-4ba59207d6c7
# pip install --no-binary :all: lightgbm
# conda install \
#   --yes \
#   -c conda-forge \
#   'lightgbm>=3.3.3'

# to avoid some warnings
dask
dask-expr
